---
import { PROJECTS } from "@/data/projects";
import ProjectTagPill from "./ProjectTagPill.astro";
import LinkIcon from "./icons/LinkIcon.svg";
import PencilIcon from "./icons/PencilIcon.svg";
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, tags, image, link, blogPost }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt={`Captura de pantalla del proyecto ${title}`}
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="eager"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2 max-w-full">
              {tags.map((tag) => (
                <li>
                  <ProjectTagPill tag={tag} />
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <div class="flex flex-wrap mt-0">
              <ul class="flex flex-row mb-2 gap-x-1 max-w-full">
                {link && (
                  <li class="transition duration-75 md:hover:scale-105 hover:cursor-pointer hover:font-bold">
                    <span class="flex gap-x-2 rounded-full text-xs py-1 px-2">
                      <LinkIcon class="size-6" />
                      <a
                        target="_blank"
                        href={link}
                        class="text-blue-500 dark:text-yellow-100 text-lg"
                      >
                        Ver sitio
                      </a>
                    </span>
                  </li>
                )}
                {blogPost && (
                  <li class="transition duration-75 md:hover:scale-105 hover:cursor-pointer hover:font-bold">
                    <span class="flex gap-x-2 rounded-full text-xs py-1 px-2">
                      <PencilIcon class="size-6" />
                      <a
                        href={`/blog/${blogPost}`}
                        class="text-blue-500 dark:text-yellow-100 text-lg"
                      >
                        Ver artículo
                      </a>
                    </span>
                  </li>
                )}
              </ul>
            </div>
          </div>
        </div>
      </article>
    ))
  }
</div>
